html {
    position: relative;
    font-size: 110%;
    min-height: 100%;
}

@media(min-width:60em) {
    html {
        font-size: 90%
    }
}

body {
    font-size: 16px;
}

p {
    line-height: 1.2;
}

h1 {
    font-size: 250%;
}

ul {
    line-height: 200%;
}

#topo {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
}

#logo {
    width: 220px;
}

.curso {
    font-size: 120%;
    color: blue;
}

.navbar {
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    background-color: white!important;
}

.navbar li {
    font-size: 110%;
}

.nav-item.active {
    background-color: rgba(0, 0, 0, 0.06)
}

.row-grid+.row-grid {
    margin-top: 15px;
}

.titulo {
    text-align: center;
}

.btn-login {
    margin-bottom: 3px;
}

.status {
    display: none;
}

#container-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    line-height: 10px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    padding-top: 10px;
}

.card .see-more {
    float: right;
}

.noticia-detalhe.card-title,
.projeto-detalhe.card-title,
.evento-detalhe.card-title {
    margin-bottom: 50px;
}

.noticia-detalhe.card-img-bottom,
.projeto-detalhe.card-img-bottom,
.evento-detalhe.card-img-bottom {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

@media(min-width:1200px) {
    body {
        padding-top: 123px;
        margin-bottom: 88px;
    }
    .footer {
        height: 78px;
    }
}

@media(max-width:1199px) {
    body {
        padding-top: 123px;
        margin-bottom: 125px;
    }
    .footer {
        height: 115px;
    }
}

@media(min-width:992px) {
    .toggle-button-menu {
        display: none;
    }
    #inf-topo {
        display: flex;
    }
    .inf-topo-menu {
        display: none;
    }
}

@media(max-width:991px) {
    body {
        padding-top: 100px;
        margin-bottom: 110px;
    }
    .footer {
        height: 100px;
    }
    .toggle-button-menu {
        display: block;
    }
    #inf-topo {
        display: none;
    }
    .inf-topo-menu {
        display: inline;
    }
}

@media(max-width:959px) {
    body {
        padding-top: 103px;
        margin-bottom: 130px;
    }
    .footer {
        height: 120px;
    }
}

@media(max-width:767px) {
    body {
        padding-top: 103px;
        margin-bottom: 168px;
    }
    .footer {
        height: 158px;
    }
    #topo {
        position: absolute;
    }
}

@media(max-width:368px) {
    body {
        padding-top: 103px;
        margin-bottom: 187px;
    }
    .footer {
        height: 177px;
    }
    .navbar {
        padding: .2rem .2rem!important;
    }
}

@media(max-width:350px) {
    body {
        padding-top: 103px;
        margin-bottom: 206px;
    }
    .footer {
        height: 196px;
    }
}


/* LOADER */

.loader,
.loader::before,
.loader::after {
    display: none;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(204, 204, 204);
    border-left-color: rgb(0, 0, 0);
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.loader {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.loader::before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.loader::after {
    content: "";
    margin: -28px 0 0 -28px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

/*   */

#link {
    cursor: pointer;
}