  /* Sticky footer styles
				-------------------------------------------------- */
  
  html {
      position: relative;
      min-height: 100%;
  }
  
  body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
  }
  
  #logo {
      width: 220px;
  }
  
  .navbar {
      margin-left: 0;
  }
  
  #parent {
      position: relative;
  }
  
  #container-conteudo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 80px;
      line-height: 25px;
      /* Vertically center the text there */
      background-color: #f5f5f5;
  }