  html {
      position: relative;
      font-size: 110%;
  }

  html,
  body {
      height: 100%;
  }
  
  @media(min-width:60em) {
      html {
          font-size: 90%
      }
  }
  
  body {
      /* Margin bottom by footer height */
      margin-bottom: -70px;
      font-size: 16px;
      padding-top: 122px;
  }
  
  p {
      line-height: 1.2;
    }
    
    h1 {
        font-size: 250%;
    }
    
    ul {
        line-height: 200%;
    }

    #topo {
        background-color: white;
    }
    
    #logo {
        width: 220px;
    }

  .navbar li {
      font-size: 110%;
  }
  
  .nav-item.active {
      background-color: white;
  }

  /*.h-100 {
  *    border: 1px dotted #cc2222;
  }*/

  #container-conteudo {
      height: calc(100% - 60px);
  }

  .row-grid + .row-grid {
    margin-top: 15px;
  }
  
  .titulo {
      text-align: center;
  }
  
  .status {
      display: none;
  }
  
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 70px;
      line-height: 10px;
      /* Vertically center the text there */
      background-color: #f5f5f5;
      padding-top: 10px;
  }
  
  .card {
      width: 100rem;
  }
  
  .card .see-more {
      float: right;
  }
  
  .noticia-detalhe.card-title {
      margin-bottom: 50px;
  }
  
  .noticia-detalhe.card-img-bottom {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin: auto;
      margin-top: 50px;
  }

  @media(min-width:1200px) {
    body {
        padding-top: 122px;
        margin-bottom: -78px;
    }

    .footer {
        height: 78px;
    }
}

@media(max-width:1199px) {
    body {
        padding-top: 122px;
        margin-bottom: -105px;
    }

    .footer {
        height: 105px;
    }
}
    

  @media(max-width:991px) {
    body {
        padding-top: 112px;
        margin-bottom: -100px;
    }

    .footer {
        height: 100px;
    }
}

@media(max-width:959px) {
    body {
        padding-top: 123px;
        margin-bottom: -110px;
    }

    .footer {
        height: 110px;
    }
}

@media(max-width:767px) {
    body {
        padding-top: 147px;
        margin-bottom: -148px;
    }
   
    .footer {
        position: relative;
        bottom: auto;
        height: 148px;
    }
    
    #container-conteudo {
      min-height: 600px;
    }
}